<div *ngIf="!events">
  <p><em>Loading...</em></p>
</div>
<div *ngIf="events">
  <table id="EventsList" class='table table-striped' aria-labelledby="tableLabel" *ngIf="events.events?.length > 0">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Capacity</th>
        <th>Event Venue</th>
        <th>Event Type</th>
        <th>People Intrested</th>
        <th>Ticket Price</th>
        <th>Tickets Sold</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events.events" (click)="editEvent(event)">
        <td>
          {{ event.name }}
        </td>
        <td>
          {{ event.eventCapacity }}
        </td>
        <td>
          {{ event.venue.venueName }}
        </td>
        <td>
          {{ event.eventType.eventTypeName }}
        </td>
        <td>
          {{ event.peopleIntrested }}
        </td>
        <td>
          £{{ event.ticketPrice.toFixed(2) }}
        </td>
        <td>
          {{ event.ticketsSold }}
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="events.events?.length == 0">
    No events found
  </div>

  <div class="modal" id="EditEventForm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Event Name</label>
          <input placeholder="Enter Event Name" id="EditEventName" class="form-control" value="{{selectedEvent.name}}" />
          <label>Event Description</label>
          <textarea placeholder="Enter Event Information" id="EditEventInformation" rows="4" class="form-control" value="{{selectedEvent.information}}"></textarea>
          <label>Event Date</label>
          <input placeholder="dd/mm/yyyy" id="EditEventDate" class="datepicker form-control" title="The date the event will take place" value="{{selectedEvent.eventDate}}" />
          <label>Event Type</label>
          <div class="dropdown" *ngIf="eventTypes?.eventTypes?.length > 0">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              {{selectedEditEventType.type}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let type of eventTypes.eventTypes">
                <a class="dropdown-item" (click)="SelectEditEventType(type)">{{type.type}}</a>
              </li>
            </ul>
          </div>
          <label>Event Venue</label>
          <div class="dropdown" *ngIf="venues?.venues?.length > 0">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              {{selectedEditEventVenue.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let venue of venues.venues">
                <a class="dropdown-item" (click)="SelectEditEventVenue(venue)">{{venue.name}}</a>
              </li>
            </ul>
          </div>
          <label>Event Live Date</label>
          <input placeholder="dd/mm/yyyy" id="EditEventLiveDate" class="datepicker form-control" title="When the event goes live for users to be able to say there intrested and it promoted on the website" value="{{selectedEvent.eventLiveDate}}" />
          <label>Event Capacity</label>
          <input placeholder="Enter Event Capcity" id="EditEventCapacity" class="form-control" title="Leave blank to use venue capacity" value="{{selectedEvent.eventCapacity}}" />
          <label>Event Price</label>
          <input disabled placeholder="Enter Ticket Price (29.99 etc)" id="EditEventPrice" class="form-control" title="If left blank or invalid number it sets price to 0" value="£{{selectedEvent.ticketPrice?.toFixed(2)}}" />
          <label>Tickets Sold</label>
          <input id="EditTicketsSold" class="form-control" title="Number of tickets sold" value="{{selectedEvent.ticketsSold}}" />
          <label>People Interested</label>
          <input disabled id="EditPeopleInterest" class="form-control" title="When event is live people can register their interest in the event to increase this value" value="{{selectedEvent.peopleIntrested}}" />
          <div *ngIf="ErrorMessageShow">
            Failed to create event.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="SubmitEditEvent()">Edit Event</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
