.card {
  width: 30%;
  flex-wrap: wrap;
  flex: initial;
  margin-bottom: 25px;
  background-color: #373535;
  border:0px;
}

.card-deck{
    color:#FFF;
}
.card .card-footer {
  background-color: #252323;
}

h1 {
  color: #FFF;
}


.card:hover {
  cursor: pointer;
}

#selectedEvent label{
    font-weight:bolder;
}

.card-img-top{
    min-height:300px;
    max-height:300px;
}
