#VenuesList tr:hover{
    cursor:pointer;
}

#VenuesList tr span:hover {
  cursor: default!important;
}
#VenuesList {
  border: 1px solid #FFF !important;
}


  #VenuesList th {
    border-color: #FFF !important;
  }
